<div class="footer" role="banner">
    <img width="50" alt="European Union" src="assets/img/eu_flag.png" />
    <a aria-label="EU Digital Wallet" target="_blank" rel="noopener" href="https://ec.europa.eu/digital-building-blocks/sites/display/EUDIGITALIDENTITYWALLET/Technical+Specifications" title="EU Digital Wallet"> 
        <img width="100" alt="EU Digital Wallet" src="assets/img/eudiw.png" />
    </a>
    <div class="spacer"></div>
    <span>DC4EU project is Co-funded by the European Union’s Digital Europe Programme under Grant Agreement no. 101102611</span>
    <span>Copyright ©2025 DC4EU Consortium  All Rights Reserved</span>
    <div class="spacer"></div>
    <a aria-label="EU Digital Wallet" target="_blank" rel="noopener" href="https://www.dc4eu.eu" title="DC4EU"> 
        <img width="100" alt="DC4EU" src="assets/img/logo-dc4eu.png" />
    </a>
</div> 