
<div class="content" role="main" *transloco="let t">
  <div class="card highlight-card card-small">
    <img width="125" alt="uSelf Logo" src="assets/img/logo_transparent.png" />
  </div>

  <h2>{{ 'home-component.next-steps' | transloco }}</h2>
  <p>{{ 'home-component.question' | transloco }}</p>

  <div class="card-container centered-text">
    <p>{{ t('home-component.description', { given_name: given_name, family_name: family_name, document_number: document_number }) }}</p>
    <!--p>{{ 'home-component.description' | transloco { given_name: given_name, family_name: family_name, document_number: document_number } }}</p-->
   
    <p>{{ 'home-component.description-2' | transloco }}</p>
    <p>{{ 'home-component.description-3' | transloco }}</p>
  </div>

  <div class="card-container">
    
    <button  class="card card-small" [routerLink]="['/issue']">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>{{ 'home-component.pid' | transloco }}</span>
    </button>
  </div>

</div>