:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.centered-text {
  text-align: center; /* Centers the text horizontally */
  padding: 20px; /* Adds padding around the text */
  display: block; /* Ensures each <p> is treated as a block-level element */
  margin: 20px 0; /* Adds spacing between the lines */
  line-height: 1.5;
}