<div class="toolbar" role="banner">
  <img width="100" alt="uSelf Logo" src="assets/img/logo_transparent.png" />
  <span>{{ 'home-component.welcome' | transloco }}</span>
  <div class="spacer"></div>
  <app-language-selector></app-language-selector>
  <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://eviden.com" title="YouTube">
    <img width="100" alt="Eviden Logo" src="assets/img/logo_eviden_orange.png" />
 
  </a>
</div>

<div class="content" role="main">
  <div class="card highlight-card card-small">
    <img width="125" alt="uSelf Logo" src="assets/img/logo_transparent.png" />
  </div>

  <h2>{{ 'home-component.next-steps' | transloco }}</h2>
  <p>{{ 'home-component.question' | transloco }}</p>

  <div class="card-container">
    <p>{{ 'home-component.description' | transloco }}</p>
  </div>
  <div class="card-container">
    <button  class="card card-small" [routerLink]="['/issue']">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
      </svg>
      <span>{{ 'home-component.pid' | transloco }}</span>
    </button>
  </div>
</div>